<html>
<!--<span>Access Token = </span></span><%= @access_token %></span>-->
<form method="post" action="https://<%= settings.webex_sitename %>.webex.com/WBXService/XMLService">
  <textarea cols="90" rows="50" name="XML"><%= @xml %></textarea>
  <br />
  <input type="Submit">
</form>
</html>
